/*style.css*/
 /* index page */
#home-page {
    color: brown;
    background-color: rgba(0, 0, 255, 0.1);
    font-family: Arial, Helvetica, sans-serif "Times New Romans";
  
  }
  
 /* doughnut page */

 #doughnut-page {
  color: darkblue;
  background-color: lightpink;
  font-family: Arial, Helvetica, sans-serif;
 }
 .title {
  font-style: italic;
}
 .title, .steps, .ingredients {
  color: blue;
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman';
}

p, .list {
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', serif; /* For all the recipes pages */
}

  .doughnut {
    height: auto;
    width: 350px;
  }

  /* Marghi special */
#marghi {
  color: darkblue;
  background-color: floralwhite;
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times;
}
.m-title, .m-ingredients, .m-steps {
  color: blue;
  font-family: Arial, verdana, tahoma, sans-serif;
}
